.css-prp {
  color: #17CBF2;
  font-family: arial;
}


.con1 {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.con1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: lightgrey;
  border-radius: 10%;
}

/* When the radio button is checked, add a blue background */
.con1 input:checked~.checkmark {
  background-color: #DCC168;
}


/* dark bg */


.dark-bg {
  background-image: url('/web/assets/images/bg/bg-image-5.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px;
  z-index: 1;
}

.dark-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 2;
}

.dark-content {
  position: relative;
  z-index: 3;
  color: #ffffff;
}

.shop-image {
  height: 250px;
}

.product-content .inner .title a:hover {
  /* color: #DCC168; */
  color: #d6b446;
}


/* beginning of timeline styles */
.timeline {
  list-style: none;
  padding: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

/* Vertical line under the icon */

.timeline-item::after {
  content: '';
  position: absolute;
  /* left: 22px; */
  left: 10px;
  /* top: 32px; */
  top: 40px;
  width: 2px;
  height: 45px;
}

.timeline-item.completed::after {
  /* background-color: #28a745; */
  border-left: 4px dashed #28a745;;
}

.timeline-item.pending::after {
  border-left: 4px dashed #6c757d;
  height: 45px;
}

.icon {
  font-size: 24px;
  margin-right: 15px;
}

.completed .icon {
  color: #28a745;
}

.pending .icon {
  color: #6c757d;
}

.timeline-item h5 {
  margin: 0;
  font-size: 16px;
}

.timeline-item span {
  font-size: 14px;
  color: #6c757d;
}

.timeline-item-end {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.timeline-item-end h5 {
  margin: 0;
  font-size: 16px;
}

.timeline-item-end span {
  font-size: 14px;
  color: #6c757d;
}

/* end of timeline styles */




@media only screen and (max-width: 700px) {
  .shop-image {
    height: 300px;
  }
}